*{
    font-family: monospace;
}

img{
    cursor: pointer;
}

body{
    background-color:black;
    color: beige;
    padding: 0 4% 0 4%;
    background: url(images/cover.png);
}

header{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    border: 2px solid beige;
    border-radius: 5px;
    margin-top: 20px;
}

.logo{
    height: 100%;
    width: 100%;
    background-color: beige;
}

ul{
    display: flex;
}

nav{
    display: flex;
    align-items: center;
}

li{
    padding: 0 1vw 0 1vw;  
}

a{
    text-decoration: none; 
    font-weight: bold; 
    font-size: large;
    color: beige;
}

a:hover{
    border-bottom: 2px solid beige;
}

button{
    background-color: beige;
    border: none;
    font-weight: bold; 
    font-size: 100%;
    width: 7%
}

button:hover{
    background-color: black;
    border: 2px solid beige;
    color: beige;
}

.landing{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    padding: 5%;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-size: 6vh;
}

h3{
    font-size: 3vh;
    background-color: rgba(0,0,0,0.2);
}

.container{
    display: flex;
    border: 2px solid beige;
    padding: 5px;
    border-radius: 5px;@media (max-width: 400px) {
        .container{
            flex-flow: row wrap;
        }
        
        
    }
    background-color: rgba(0,0,0,0.8);
}

.content{
    padding: 5px 5px 5px 5px;
    width: 50%;
}

.content img{
    width: 60%;
}

.content h3{
    font-size: 200%;
}

.content p{
    font-size: 120%;
}

.buy{
    color: beige;
    font-size: 120%;
    background-color: black;
    border: 2px solid beige;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
}

.buy:hover{
    color: black;
    background-color: beige;
    border: none;
}

footer{
    margin-top: 50px;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    font-size: medium;
}